body{
	background: #e8e8e8;
	font-family: 'Helvetica';
}

.form-container{
	display: block;
	margin: 0 auto;
	width: 300px;:;
	text-align: center;
	background: #fff;
	border-radius: 5px;
	padding: 1em;
	margin-top: 3em;
	box-shadow: #a9a9a9 0 0 10px 0;
}

.form-container h1{
	margin-top: 0.5em;
}

.field-group{
	text-align: left;
	margin-bottom: 1em;
}

.field-group:last-child{
	margin-bottom: 0;
}

.field-group label{
	display: block;
}

input[type="text"], input[type="password"]{
	width: 100%;
	height: 2em;
	font-size: 1em;
	padding: 5px;
}

.submit-group{
	text-align: right;
}

input[type="submit"]{
	background: #6599ec;
	font-size: 1em;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

#db-wrapper {
	margin: 0 auto;
	margin-top: 18px;
	width: 70%;
	min-height: 400px;
	height: auto;
	background: #fff;
	padding: 1.5em;
	box-shadow: #a9a9a9 0 0 10px 0;
	border-radius: 5px;
}

#db-wrapper table, th, td {
		border: 1px solid #000;
		border-collapse: collapse;
}

.float-l{
		float: left;
}

.float-r{
		float: right;
}

.clearfix:after {
		content: "";
		display: table;
		clear: both;
}

.strict {
		margin: 10px 0;
}

th {
		background-color: #deeaf9;
		padding: 5px 10px;
}

td {
		padding: 4px 10px;
}

td.table, td.hits, td.query {
		font-family: monospace;
}

td.hits {
		text-align: right;
}

td.query {
	cursor: pointer;
		background-color: none;
		-webkit-transition: background-color 200ms linear;
			 -moz-transition: background-color 200ms linear;
				 -o-transition: background-color 200ms linear;
				-ms-transition: background-color 200ms linear;
						transition: background-color 200ms linear;
}

td.query.selected {
		background-color: #fbdd27;
}
td.actions button {
		border: 1px solid #752929;
		background: #b71f1f;
		border-radius: 3px;
		color: white;
		padding: 1px 10px;
}
